{{ if (or (or .Params.tags .Params.categories) .Params.series) }}
    <div class="post_info">

        {{ with .Params.series }}
        <div>
            Read more of the <i><a href='{{ "/series/" | relLangURL }}{{ . | urlize }}'>{{ . | humanize }}</a></i> series if you missed it.
        </div>
        {{ end }}

        {{ with .Params.tags }}
        <div>
            <i class="fa fa-tags"></i>
            {{ range $i, $e := . -}}
            {{- if $i -}}, {{ end -}}
            <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ $e | humanize }}</a>
            {{- end -}}
        </div>
        {{ end }}

        {{ with .Params.categories }}
        <div>
            <i class="fa fa-th"></i>
            {{ range $i, $e := . -}}
            {{- if $i -}}, {{ end -}}
            <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}'>{{ $e | humanize }}</a>
            {{- end -}}
        </div>
        {{ end }}

    </div>
{{end}}
