{{ define "main" }}
    <main id="main">
      <div>
       <h1 id="title"><a href="{{ "/" | relURL }}">Go Home</a></h1>
       Ooops! The resource you are looking for doesn't exist...
      </div>
    </main>
{{ end }}


